@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
.nav-bar{
    height: 70px;
    width: 1910px;
    display: flex;
    background-color: #BFFCF9;
    background-size: 70px 1910px;
}

.nav-bar h2{
    margin-left: 400px;
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 100px;
    font-weight: 800;
    font-family: 'Sanchez', serif;
    text-align: center;
    margin-top: 30px;
}
p{
    font-size: 30px;
    font-weight: 100;
    font-family: 'Sanchez', sans-serif;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.home-img{
    display: flex;
    justify-content: space-evenly;
}
